In [21]:
import pandas as pd

In [22]:
cash = pd.read_csv('project_dataset/extract - cash request - data analyst.csv')
fees = pd.read_csv('project_dataset/extract - fees - data analyst - .csv')

In [23]:
cash['user_id'] = cash['user_id'].fillna(cash['deleted_account_id'])

In [24]:
filas = fees[fees['cash_request_id'].isna()]
filas

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
1911,2990,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11164,2020-08-06 22:42:34.525373+00,2020-11-04 16:01:17.296048+00,NaN,NaN,NaN,after
1960,3124,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11444,2020-08-08 06:33:06.244651+00,2020-11-04 16:01:08.332978+00,NaN,NaN,NaN,after
4605,5185,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 11788,2020-08-26 09:39:37.362933+00,2020-11-04 16:01:36.492576+00,NaN,NaN,NaN,after
11870,3590,NaN,instant_payment,cancelled,NaN,5.0,Instant Payment Cash Request 12212,2020-08-12 14:20:06.657075+00,2020-11-04 16:01:53.106416+00,NaN,NaN,NaN,after

In [25]:
ids = []
for indice in filas.index:
    nuevo_valor = filas.at[indice, 'reason'][-6:].strip()
    if nuevo_valor not in cash['id']:
        ids.append(nuevo_valor)
ids

['11164', '11444', '11788', '12212']

In [26]:
for indice in filas.index:
    fees.drop(indice, axis=0, inplace=True)

In [27]:
cash['created_at'] = pd.to_datetime(cash['created_at'])
cash['reco_creation'] = pd.to_datetime(cash['reco_creation'])
cash['reco_creation'] = pd.to_datetime(cash['reco_creation'],format='ISO8601')
cash['reco_last_update'] = pd.to_datetime(cash['reco_last_update'])
cash['reimbursement_date'] = pd.to_datetime(cash['reco_creation'],format='ISO8601')

In [28]:
cash.to_csv('project_dataset/cash-clean.csv')
fees.to_csv('project_dataset/fees-clean.csv')